
 
  
 
       .icon {
          width: 7rem;
          height: 3rem;
          font-weight: 800;
          background-size: 100px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: transparent;
          display: flex;
          transition: all 0.2s ease, background-color 0.4s ease;
          opacity: 0.9;
          border-radius: 10px;
          margin: 0 auto;
    
            background: linear-gradient(90deg, #FF7E7E 10%, #FF4848 90%);
           
            justify-content: center;
            align-items: center;
            color: white;
            transition: all 0.8s ease;
            background-position: 0px;
            background-size: 200px;
       }
       


 
 .wrapper {
    width: 100vw;
    margin: 0 auto;
    height: 400px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
 }
 
 @media screen and (max-width: 770px) {
    .wrapper {
       height: 700px;
    }
 }
 

 
 @media screen and (max-width: 772px) {
    .content {
       padding-top: 300px;
       flex-direction: column;
       gap: 11rem;
       margin-bottom: 5rem;
    }
    .card .title {
      margin-bottom: 6rem;
    }
    .card .text {
      margin-bottom: 3.5rem;
    }
 }
 .content {
   display: grid;
   grid-template-columns: auto auto;
   max-width: 1024px;
   width: 100%;
   padding: 0 4%;
   padding-top: 25px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
 
 .card {
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    height: 335px;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
 }
 
 
 .material-icons.md-18 { font-size: 18px; }
 .material-icons.md-24 { font-size: 24px; }
 .material-icons.md-36 { font-size: 36px; }
 .material-icons.md-48 { font-size: 48px; }
 
 .card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
 }
 
 .card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height:0;
    
    transition: all 0.3s ease;
 }
 
 .card:hover {
    height: 310px;
    
 }
 
 .card:hover .info {
    height: 90%;
 }
 
 .card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height:40px;
    background-color: #292929;
    
 }
 
 .card:hover .icon {
    background-position: -190px;
    transition: all 0.3s ease;
    
 }
 
 .card:hover .icon i {
    background: #292929;
    
    background-clip: text;
     -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: all 0.3s ease;
 }


  /**********Banner CSS ******/

  .bannerImage{
   width: 23rem;height: 33rem;
   position: relative;
   bottom: 0;right: 100px;
   
  }
  .bannerImage img{
   height: 100%;position: absolute; left: 50%;bottom: 0;transform: translateX(-50%);
   transition: bottom 1s, left 1s;
  }
.shape{
   border-radius: calc(50px);
   margin-top: 4rem;
}
  .bannerImage:hover .shape{
   bottom: 40px;
  }
  .bannerImage:hover .mypic{
   left: 45%;
  }

  @media screen and (max-width: 772px) {
  .bannerImage{
   width: 16.5rem;height: 23rem;
   position: relative;
   bottom: 0;right: 90px;
   
  }
}